body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.main-nav {
    display: flex;
    border-bottom: 1px solid gainsboro;
    align-items: baseline;
}

.link-main {
    margin-left: auto;
    font-size: large;
    word-spacing: 8px;
}

.link-main a {
    color:black;
    padding: 13px 13px;
    text-decoration: none;
}
.link-main a:hover {
    background-color: #F2DC5D;
}

.link-contact {
    margin-left: auto;
    margin-right: 100px;
    font-size: large;
    word-spacing: 8px;
}

.link-contact a {
    color:black;
    padding: 13px 13px;
    text-decoration: none;
}

.link-contact a:hover {
    background-color: #F2DC5D;
}

#title {
    width:100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    font-size: medium;
    margin-bottom: 10px;
    padding: 8px;
}

#date {
    box-sizing: border-box;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    font-size: medium;
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
}

#description {
    box-sizing: border-box;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    font-size: large;
    width: 100%;
    margin-bottom: 10px;
    height: 70px;
}

#add-button {
    background-color: black;
    color: white;
    font-size: medium;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
}

.card card--form {
    border-style: 1px solid;
}