/* Gruppe: Bennebach, Gertje, Doberstein, Kraus, Öz */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

header {
    display: flex;
    border-bottom: 1px solid gainsboro;
    align-items: baseline;
}

h1 {
    margin-left: 20px;
}

.navigation {
    margin-left: auto;
    margin-right: 20px;
    font-size: large;
    font-weight: 500;
    word-spacing: 8px;
}

.navigation a {
    color:black;
    padding: 13px 13px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #F2DC5D;
}

#new-event-heading {
    font-weight: 500;
}

#title {
    width:100%;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    border-radius: 6px;
    font-size: small;
    padding: 10px;
}

#date {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    border-radius: 6px;
    font-size: small;
    padding: 14px; 
    margin-top: 10px; 
}

#description {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    border-radius: 6px;
    font-size: small;
    padding: 14px;
    margin-top: 10px;
    resize: vertical;
}

#add-button {
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
}

.new-event {
    border-width: 1px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.show-event {
    border-width: 1px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 14px;
}

#search-input{
    width: 25%;
    height: 35px;
    padding-left: 10px;
    margin-top: 5px;
    border-width: 1px;
    border-color: gainsboro;
    border-radius: 4px;
    font-size: small;
    border-style: solid;
}

#sort-select{
    width: 20%;
    height: 35px;
    padding-left: 7px;
    margin-top: 5px;
    border-color: gainsboro;
    border-radius: 4px;
    font-size: small;
}

.list-controls{
    display:flex;
    gap:5px;
    align-items: center;
    white-space: nowrap;
}

#events-list{
    list-style-type: none;
    padding-left: 0;
}

footer{
    text-align: center;
    color: rgb(163, 163, 163);
    border-top: 1px solid gainsboro;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
    font-weight: bold;
    margin-top: 15px;
}